[Unit]
Description=domain proxy container
Requires=docker.service
After=docker.service

[Service]
{% if docker_proxy_service_user is defined %}
User={{ docker_proxy_service_user }}
{% endif %}
Restart=on-failure
RestartSec=10
ExecStartPre=-/usr/bin/docker kill {{ docker_proxy_container_name }}
ExecStartPre=-/usr/bin/docker rm {{ docker_proxy_container_name }}
ExecStart=/usr/bin/docker run \
  -v  {{ docker_proxy_socket_path | default('/var/run/docker.sock') }}:/tmp/docker.sock:ro \
  -v  {{ docker_proxy_wide_config_path }}:/etc/nginx/conf.d/proxy_wide.conf:ro \
{% if docker_proxy_htpasswd_dir_path is defined %}
  -v {{ docker_proxy_htpasswd_dir_path }}:/etc/nginx/htpasswd:ro \
{% endif %}
{% if docker_proxy_certs_dir_path is defined %}
  -v {{ docker_proxy_certs_dir_path }}:/etc/nginx/certs:ro \
{% endif %}
{% if docker_proxy_vhosts_dir_path is defined %}
  -v {{ docker_proxy_vhosts_dir_path }}:/etc/nginx/vhost.d:ro \
{% if docker_use_letsencrypt_companion == true %}
  -v /etc/nginx/vhost.d \
{% endif %}
{% endif %}
{% if docker_use_letsencrypt_companion == true %}
  -v /usr/share/nginx/html \
{% endif %}
  -p 80:80 \
  -p 443:443 \
  --name={{ docker_proxy_container_name }} jwilder/nginx-proxy
ExecStop=-/usr/bin/docker stop -t 2 {{ docker_proxy_container_name }}

[Install]
WantedBy=multi-user.target